/* index.module.scss */

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputLabel {
    color: #6b2cd1;
    font-size: 24px;
    margin-bottom: 45px;
    font-weight: bold;
}

.inputWithIcon {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
}

.roundedInput {
    border: 2px solid #6b2cd1;
    color: #6b2cd1;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;

    &:focus {
        outline: none; 
        border-color: #000;
        background-color: transparent;
    }
}

.searchButton {
    position: absolute;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.purpleSearchButton {
    filter: invert(150%);
}


