.tooltiptext {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 18px;
}

.tooltiptext > span {
  visibility: hidden;
  width: 140px;
  background-color: #ffffff;
  color: rgb(142, 182, 40);
  text-align: center;
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.4s;
}

.tooltiptext.purpleTooltip > span {
  color: #6b2cd1;
}

.tooltiptext:hover > span {
  visibility: visible;
  opacity: 1;
}
