input[role=switch] {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 2.1em;
    height: 1em;
    margin: 0;
    box-sizing: content-box;
    padding: 0;
    border: none;
    border-radius: 0.5em;
    background: rgb(142, 182, 40);
    transition: background-color 250ms ease, box-shadow 250ms ease;
    font-size: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    user-select: none;
    outline: none;
    position: relative;
    z-index: 1;
}

input[role=switch]::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 0.9em;
    height: 0.7em;
    left: 0.1em;
    top: 0.15em;
    background: #ccc;
    border-radius: 50%;
    transition: left 250ms ease;
    color: rgba(0, 0, 0, 0.3);
    line-height: 1;
    z-index: 2;
}

input[role=switch]:checked {
    background-color: var(--bg-checked, var(--bg, #6b2cd1));
}


input[role=switch]:checked::before {
    left: 45%;
}