/* index.module.scss */

.containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.centeredContent {
    text-align: center;
}

.customInput {
    width: 300px;
}

.logo {
    filter: invert(500%);
}

.checkboxesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 265px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .openModalButton {
    margin: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 187, 0);
    border: none;
    cursor: pointer;
  }
  